* {
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
}

.bg1 {
    background-color: #333333;
}

.bg2 {
    background-color: #dddddd;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

header {
    width: 100%;
    padding: 2% 0;
    color: white;
}

section {
    overflow: auto;
}

.mainbox1 {
    width: 100%;
    background-color: white;
}

.box_left {
    width: 50%;
    float: left;
    font-size: 15px;
    font-weight: 800;
}

.box_left h3 {
    text-align: center;
}

.box_left li:first-child {
    font-weight: 1000;
}

.box_left li:nth-child(3) {
    color: blue;
}

.box_right {
    width: 50%;
    float: left;
    font-size: 15px;
    font-weight: 800;
}

.box_right p {
    margin: 2% 0 2% 5%;
    text-align: justify;
}

.box_right img {
    margin-left: 5%;
}

.box_right h4 {
    text-align: right;
}

.box_right ul {
    padding-left: 5%;
    list-style-type: none;
    font-weight: 800;
    font-size: 15px;
}

footer {
    width: 100%;
    color: white;
    padding: 2% 0;
    height: 30vh;
}