* {
    margin: 0;
    color: grey;
}

.container {
    width: 962px;
    margin: auto;
}

.bg1 {
    background-color: #333333;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

nav {
    color: #333333;
    padding: 2% 0;
}

nav li {
    list-style-type: none;
    float: right;
    padding: 2% 2%;
    margin-top: -5%;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

section {
    overflow: auto;
}

.mainbox img {
    border: 1px solid #dedede;
    padding: 8px;
}

.mainbox img:hover {
    border: 1px solid orange;
}

.innbox {
    width: 940px;
    height: 360px;
    margin: 10px;
}

.bottom {
    width: 30%;
    margin: 0 0 0 2%;
}

.bottom img {
    border: 1px solid #dedede;
    padding: 2%;
    margin: 0 3% 2% 0;
}

.bottom h2 {
    margin: 5% 0 5% 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 2%;
}

.bottom h4 {
    color: orange;
}

footer {
    margin: 5% 0;
}

.fline {
    border-top: 1px solid #dedede;
    padding: 18px;
}