* {
    margin: 0;
    color: grey;
}

.container {
    width: 960px;
    margin: auto;
}

.bg1 {
    background-color: #333333;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

h5 {
    margin-top: 25px;
    color: orange;
}

nav {
    padding: 2% 0;
}

nav h2,
h4 {
    color: #c0bab6;
}

nav li {
    list-style-type: none;
    padding: 2% 2%;
    float: right;
    background-color: #232323;
    margin-top: -5%;
}

nav a {
    text-decoration: none;
    color: #c0bab6;
}

nav a:hover {
    color: orange;
}

section {
    overflow: auto;
}

.mainbox {
    margin-top: 5%;
    width: 940px;
    overflow: auto;
}

.uleft_col {
    overflow: hidden;
    width: 270px;
    height: 270px;
    font-size: 15px;
    border: 15px solid #dedede;
    background-color: #dedede;
}

.uleft_col h2 {
    font-size: 35px;
    padding: 2%;
    font-style: italic;
}

.uright_col {
    width: 630px;
}

.row1 {
    width: 960px;
    overflow: auto;
}

.bottom {
    width: 30%;
    margin: 0 3% 0 0;
}

.bottom img {
    border: 1px solid #dedede;
    padding: 1%;
    margin: 0 3% 2% 0;
}

.bottom h2 {
    margin: 5% 0 5% 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 2%;
}

.row2 {
    width: 960px;
    margin-top: 5%;
}

.inn_row2 {
    width: 215px;
    margin: 2% 0;
    padding-right: 25px;
    float: left;
}

.inn_row2 img {
    border: 1px solid #dedede;
    padding: 2%;
}

footer {
    background-color: #333333;
    padding: 2%;
}